@-moz-viewport { width: device-width; scale: 1; } /* makes mozilla firefox responsive */
@-ms-viewport { width: device-width; scale: 1; } /* makes microsoft responsive */
@-o-viewport { width: device-width; scale: 1; } /* makes opera responsive */
@-webkit-viewport { width: device-width; scale: 1; } /* makes webkit responsive */
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.title {
    color: red;
}

@media only screen and (min-width: 25em) { /*when the screen hits 400px, the media querie activates*/
    
    .title {
        color: blue;
        font-size: 10rem;
    }
    
}

@media only screen and (min-width: 45em) {
    
    .title {
        color: green;
    }
    
}